
name: Docs

on:
  push:
    branches:
      - main
    tags: "*"
  pull_request:
env:
  JULIA_PKG_USE_CLI_GIT: true
jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@latest
        with:
          version: "1.10"
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@latest
        with:
          git_cli: true # = JULIA_PKG_USE_CLI_GIT. Options: true | false (default)
      - name: Instantiate NPM
        run: cd docs/; npm i; cd ..
      - uses: julia-actions/julia-docdeploy@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
